DATAPATHS_REPO_ROOT="/home/grumpy_hippo/Data/Work/Github/var_stars_project" # where your repo lives
DATAPATHS_ROOTS_FILE="etc/roots.yaml"            # relative to the repo root
DATAPATHS_REGISTRY_FILE="/shared/registry.yaml"  # absolute